XML/Tema4-3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT recetas (receta+)>

<!ELEMENT receta (nombre,ingrediente+,instrucciones)>
    <!ATTLIST receta
    nRaciones CDATA #REQUIRED
    dificultad (baja|media|alta) "media" >

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ingrediente (#PCDATA)>
    <!ATTLIST ingrediente
    cantidad CDATA #IMPLIED
    unidad CDATA #IMPLIED>
<!ELEMENT instrucciones (#PCDATA)>
